/*  is the universal selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*  Base Level Elements */
body {
  background-color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Header Styles */

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 /*  targeting all h1's nested in .header class */ {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo /*  This affects 'seo' text in the header logo */ {
  color: white;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px; /* * 20px of space from edge of screen  */
  float: right; /* * nav will float to the right side of the page */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  list-style-type: none; /* can target ul or the li  */
}

/* landing page image */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Content Structure Classes */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content /* * main was used as a container, and given the class content */ {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* * classes that affect benifits section of the page */

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
}

.benefit-text h3 {
  margin-bottom: 10px;
}

.benefit-text img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* * classes that affect article... or "section" section of the page */

.article-styles {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.article-styles img {
  max-height: 200px;
}

.article-styles h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* * footer styles */
.footer {
  padding: 30px;
  clear: both; /* * need to clear content after float */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
